<% provide(:title, :dashboard) %>
<%= render 'layouts/admin/content_header' %>
<div class="container-fluid">
  
  <%= render 'layouts/admin/quick_action' %>

   <div class="row-fluid">
    <div class="widget-box">
      <div class="widget-title"><span class="icon"><i class="icon-tasks"></i></span>
        <h5>Dashboard </h5>
        <div class="buttons"><a href="#" class="btn btn-mini btn-success"><i class="icon-refresh"></i> Update stats</a></div>
      </div>
      <div class="widget-content">
        
      </div>
    </div>
  </div>
</div>
