<div class="quick-actions_homepage">
    <ul class="quick-actions">
      <li> <a href="#"> <i class="icon-dashboard"></i> My Dashboard </a> </li>
      <li> <a href="#"> <i class="icon-shopping-bag"></i> Shopping Cart</a> </li>
      <li> <a href="#"> <i class="icon-web"></i> Web Marketing </a> </li>
      <li> <a href="#"> <i class="icon-people"></i> Manage Users </a> </li>
      <li> <a href="#"> <i class="icon-calendar"></i> Manage Events </a> </li>
    </ul>
</div>
